.searchPage {
    background: linear-gradient(#1E1E1E, #121212);
    width: 100%;
    min-height: 70rem;
    height: 100vh;
    color: white;
    font-size: bold;
}

.headline {
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.searchCategories {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}